* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background: #fafafa;
}

header {
  background: #ff9602;
  color: white;
  padding: 20px;
  text-align: center;
}

.ajuda {
    justify-content: center;
    text-align: center;
    margin: 0;
    font-size: 13px;
    background-color: #663f00;
    color: #ffffff;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
  background-color: #1b1b1a;
  margin: 0;
  color: #ffffff;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url('https://via.placeholder.com/1200x400') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero .btn {
  display: inline-block;
  margin-top: 20px;
  background: #274f06;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}

.produtos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.produto {
  background: white;
  padding: 15px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 200px;
  border-radius: 8px;
}

.categorias-lista {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  font-size: 1rem;
}

button {
  background: #274f06;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}
